<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/Navbar.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Welcome to the Home Page</h1>
    <!-- 여기서 추가 콘텐츠를 포함할 수 있습니다. -->
  </body>
</html>
