<div class="navbar_all">
  <div class="OutsideIn">
    Outside<br />In&nbsp;
    <i class="icon-users"></i>
  </div>
  <div class="navbar">
    <a class="navbarMenu" id="home" href="/">Home</a>
    <a class="navbarMenu" href="/Board">Board</a>
    <a class="navbarMenu" href="/MyPage">MyPage</a>
  </div>
  <form onsubmit="return checkLogin(event)" class="icon-link-form">
    <button type="submit" class="icon-link-button">
      <i class="icon-user-circle-o" style="font-size: 50px"></i>
    </button>
  </form>
</div>
<script>
  async function checkLogin(event) {
    event.preventDefault();
    console.log("checkLogin 호출됨");
    try {
      const response = await fetch("/check-login", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
      });
      const result = await response.json();
      console.log("응답 받음:", result);
      if (result.loggedIn) {
        window.location.href = "/MyPage";
      } else {
        window.location.href = "/login";
      }
    } catch (error) {
      console.error("세션 확인 중 오류 발생:", error);
      window.location.href = "/login";
    }
  }
</script>
