
.icon-flight:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-umbrella:before { content: '\e802'; } /* '' */
.icon-flashlight:before { content: '\e803'; } /* '' */
.icon-umbrella-1:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-heart-empty:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-adult:before { content: '\e809'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
