@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Sans+KR&display=swap');

.Board_all {
  width: 48%;
  margin-top: 30px;
  padding-top: 15px;
  border: 1.1px solid rgb(206, 206, 206);
  border-radius: 1.5%;
}

.nameLink_layout {
  display: flex;
  justify-content: space-between;
}

.Board_plusLink {
  text-decoration: none;
  color: darkgray;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
}

.Board_plusLink.joy {
  color: rgb(255, 234, 0);
}

.Board_plusLink.sadness {
  color: rgb(8, 72, 212);
}

.Board_plusLink.anxiety {
  color: rgb(255, 145, 0);
}

.Board_plusLink.fear {
  color: rgb(100, 18, 181);
}

.Board_title_body {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1em;
  background-color: rgb(231, 231, 231);
  margin: 20px 25px;
  padding: 0px 30px;
  padding-bottom: 25px;
  clip-path: inset(1% 1% 1% 1% round 10px);
}

.Board_body1 {
  padding-top: 2px;
}

.Board_name {
  text-decoration: none;
  color: black;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25em;
  padding: 30px;
  padding-bottom: 20px;
}

.Board_name.joy {
  text-shadow: 6px 6px 10px rgba(255, 234, 0, 0.73);
}

.Board_name.sadness {
  text-shadow: 6px 6px 10px rgb(8, 72, 212, 0.73);
}

.Board_name.anxiety {
  text-shadow: 6px 6px 10px rgb(255, 145, 0, 0.73);
}

.Board_name.fear {
  text-shadow: 6px 6px 10px rgb(100, 18, 181, 0.73);
}

h3 {
  margin-bottom: 7px;
}

.Board_body {
  color: rgb(98, 98, 98);
  padding-bottom: 7px;
}

.Board_body1:after {
  content: '';
  display: flex;
  justify-content: center;
  width: 555px;
  border-bottom: 2.7px solid rgb(182, 182, 182);
  margin: auto;
  margin-top: 10px;
}
